.order-enter{
  background: red;
  transform: translateX(-120%)
  transition: 5s;
  &.order-enter-active{
    background: yellow;
    transform: translateX(0)
  }
}

.order-exit{
  background: thistle;
  transition: 5s;
  transform: translateX(0)
  &.order-exit-active{
    background: palegoldenrod;
    ransform: translateX(-120%)
  }
}